img {
    width: 100%;
    border: 5px solid white;
  }

  h1 {
    text-transform: uppercase;
  }

  body {
    text-align: center;
    background-color: black;
  }

  div {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 50%;
    margin-left: 25%;
  }